@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap');

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  user-select: none;
  background:#2C5167;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto,
    segoe ui, arial, sans-serif;
  font-size: 8vw;
  font-weight: 800;
  text-transform: uppercase;
  color:#404040;
  position: fixed;
  scroll-behavior: smooth;
}

#root > div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App{
  perspective: 1000px;
}

.correctContent{
  position: relative;
}

.up{
  top: -1vh
}

.left{
  left: -5vw
}

.card {
  position: absolute;
  width: 90vw;
  height: 72vh;
  height: calc(var(--vh, 1vh) * 72);
  min-height: 350px;
  cursor: pointer;
  will-change: transform, opacity;
  border-radius: 20px;
  background: #FCFBF5;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.12);
}

.back, .front{
  top: 1vh;
  left: 5vw;
  z-index: 3;
}

.background1{
  top: 2vh;
  left: 6vw;
  z-index: 2;
}

.background2{
  top: 3vh;
  left: 7vw;
}

.backgroundTransition{
  transition: background-color 0.2s ease;
}

.added{
  background-color: #71C974 !important;
}

.addedInput{
  background-color: #63B065 !important;
}

.text{
  margin: 0;
  position: absolute;
  top: 40vh;
  top: calc(var(--vh, 1vh)*40);
  /*top: calc(var(--vh, 1vh) * 50);*/
  left: 50%;
  transform: translateX(-50%) translateX(-0.4px) translateY(-50%) translateY(-0.4px);
  text-align: center;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
  color:#404040;
  z-index:4;
}

.solution{
  color: #fcfbf5;
}
  

.formContainer {
  position: absolute;
  display: inline;
  top: 35%;
  top: calc(var(--vh, 1vh) * 15);
  left:50%;
  text-align: center;
  z-index:4;
}

.formContainer form{
  position: absolute; 
  left: -47.5vw;
}

.textInput{
  background:#F3F2EA;
  border: none;
  border-radius: 0 32px 32px 0;
  padding:20px 0px 20px 50px;
  margin:10px;
  font-family: raleway;
  font-size: 5vw;
  font-weight: 500;
  color: grey;
  outline: none;
  box-shadow: inset 0px 7px 3px rgba(0,0,0,0.12);
  text-shadow: 1px 1px 0 #fff;
  text-align: center;
}

.textInput:focus {
  box-shadow:  inset 0px 3px 2px rgba(0,0,0,0.12),  /*inset -3px -3px 2px #FFFEF7*/
}

.button{
  position: absolute;
  width: 15vw;
  height: 15vw;
  border: none;
  border-radius: 100%;
  cursor: pointer;
  outline: none;
  z-index:1;
}

.primary{
  top: 84vh;
  top: calc(var(--vh, 1vh) * 84);
  background: #FCFBF5;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.12);
}

.primary:hover{
  background: lightcoral;
}

.add{
  left:65vw;
}

.edit{
  left:20vw;
}

.login{
  left:40vw;
}

.hideForm{
  background: rgb(252, 251, 245);
  left:65vw;
  top: 5vh;
  top: calc(var(--vh, 1vh) * 5)
}

.hideForm:hover{
  background:lightcoral;
}

.buttonIcon{
  position: relative;
  top:2px;
}

.loginButton{
  left: -2px;
}

.alert{
  position: absolute;
  text-align: center;
  font-size: 8vw;
  left: 32vw;
  top: 1vh;
  top: calc(var(--vh, 1vh) * 1);
}

.error{
  color: lightcoral;
}

#noMoreCardsMessage{
  text-align: center;
  width: 60%;
  margin: 50px auto;
}

.signup-label {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 4vw;
  clear: both;
  margin: 5% 0 0 15%;
}

.signup-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.signup-label .checkbox-custom {
  position: relative;
  display: inline-block;
  top: 5px;
  margin-right: 10px;
  height: 24px;
  width: 24px;
  background-color: transparent;
  border-radius: 5px;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  border: 1px solid #ed2553;
}


.signup-label input:checked ~ .checkbox-custom {
  background-color: #ed2553;
  border-radius: 5px;
  -webkit-transform: rotate(0deg) scale(1);
  -ms-transform: rotate(0deg) scale(1);
  transform: rotate(0deg) scale(1);
  opacity:1;
  border: 1px solid #ed2553;
}


.signup-label .checkbox-custom::after {
  position: absolute;
  content: "";
  left: 12px;
  top: 12px;
  height: 0px;
  width: 0px;
  border-radius: 5px;
  border: solid #fff;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(0deg) scale(0);
  -ms-transform: rotate(0deg) scale(0);
  transform: rotate(0deg) scale(0);
  opacity:1;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}


.signup-label input:checked ~ .checkbox-custom::after {
-webkit-transform: rotate(45deg) scale(1);
-ms-transform: rotate(45deg) scale(1);
transform: rotate(45deg) scale(1);
opacity:1;
left: 8px;
top: 3px;
width: 6px;
height: 12px;
border: solid #fff;
border-width: 0 2px 2px 0;
background-color: transparent;
border-radius: 0;
}