@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap');

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  user-select: none;
  background: #e9e9e9;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto,
    segoe ui, arial, sans-serif;
  font-size: 4vw;
  font-weight: 800;
  text-transform: uppercase;
  color:rgb(83, 83, 83);
  position: fixed;
  scroll-behavior: smooth;
}

#root > div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App{
  perspective: 1000px;
}

.card {
  position: absolute;
  top: 1vh;
  left: 5vw;
  width: 90vw;
  height: 90vh;
  height: calc(var(--vh, 1vh) * 98);
  cursor: pointer;
  will-change: transform, opacity;
  border-radius: 20px;
  background:rgb(252, 251, 245);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.12);
}

.text{
  margin: 0;
  position: absolute;
  top: 50%;
  top: calc(var(--vh, 1vh) * 50);
  left: 50%;
  transform: translateX(-50%) translateX(-0.4px) translateY(-50%) translateY(-0.4px);
  text-align: center;
}

.back .text{
  color:white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
}

.cardFormContainer{
  z-index: 2;
  margin: 0;
}

.cardForm{
  position: absolute;
  display: inline;
  top:30%;
  top: calc(var(--vh, 1vh) * 15);
  left:50%;
  text-align: center; 
}

.cardForm form{
  position: relative; 
  left: -50%;
}

.cardForm .textInput{
  background:rgb(252, 251, 245);
}

.formContainer {
  position: absolute;
  display: inline;
  top: 35%;
  top: calc(var(--vh, 1vh) * 15);
  left:50%;
  text-align: center; 
}

.formContainer form{
  position: relative; 
  left: -50%;
}

.textInput{
  background:rgb(252, 251, 245);
  border: 1px solid #ed2553;
  border-radius: 32px;
  padding:12px;
  margin:10px;
  font-family: raleway;
  font-size: 4vw;
  font-weight: 500;
  color: grey;
  outline: none;
}

.button{
  position: absolute;
  width: 15vw;
  height: 15vw;
  border: none;
  border-radius: 100%;
  cursor: pointer;
  outline: none;
}

.primary{
  top:80vh;
  top: calc(var(--vh, 1vh) * 80);
  background: #ed2553;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.12);
}

.primary:hover{
  background: lightcoral;
}

.add{
  left:65vw;
}

.edit{
  left:20vw;
}

.login{
  left:40vw;
}

.hideForm{
  background: rgb(252, 251, 245);
}

.hideForm:hover{
  background:lightcoral;
}

.buttonIcon{
  position: relative;
}

.alert{
  text-align: center;
  font-size: 8vw;
  width: 60%;
  margin: 50px auto;
}

.error{
  color: lightcoral;
}

#noMoreCardsMessage{
  text-align: center;
  width: 60%;
  margin: 50px auto;
}

.signup-label {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 4vw;
  clear: both;
}

.signup-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.signup-label .checkbox-custom {
  position: relative;
  display: inline-block;
  top: 5px;
  margin-right: 5px;
  height: 24px;
  width: 24px;
  background-color: transparent;
  border-radius: 5px;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  border: 1px solid #ed2553;
}


.signup-label input:checked ~ .checkbox-custom {
  background-color: #ed2553;
  border-radius: 5px;
  -webkit-transform: rotate(0deg) scale(1);
  -ms-transform: rotate(0deg) scale(1);
  transform: rotate(0deg) scale(1);
  opacity:1;
  border: 1px solid #ed2553;
}


.signup-label .checkbox-custom::after {
  position: absolute;
  content: "";
  left: 12px;
  top: 12px;
  height: 0px;
  width: 0px;
  border-radius: 5px;
  border: solid #fff;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(0deg) scale(0);
  -ms-transform: rotate(0deg) scale(0);
  transform: rotate(0deg) scale(0);
  opacity:1;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}


.signup-label input:checked ~ .checkbox-custom::after {
-webkit-transform: rotate(45deg) scale(1);
-ms-transform: rotate(45deg) scale(1);
transform: rotate(45deg) scale(1);
opacity:1;
left: 8px;
top: 3px;
width: 6px;
height: 12px;
border: solid #fff;
border-width: 0 2px 2px 0;
background-color: transparent;
border-radius: 0;
}