@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap');

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  user-select: none;
  background: #e9e9e9;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto,
    segoe ui, arial, sans-serif;
  font-size: 42px;
  font-weight: 800;
  text-transform: uppercase;
  color:rgb(83, 83, 83);
}

#root > div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App{
  perspective: 1000px;
}

.c {
  position: absolute;
  top: 5vh;
  left: 5vw;
  width: 90vw;
  height: 90vh;
  cursor: pointer;
  will-change: transform, opacity;
  border-radius: 20px;
  background:rgb(252, 251, 245);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.12);
}

.text{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.back .text{
  color:white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
}

.newCardContainer{
  z-index: 2;
  margin: 0;
  position: absolute;
  top: 5vh;
  left: 5vw;
  width: 90vw;
  height:90vh;
  background: #fff;
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.12);
}

.newCardForm{
  position: absolute;
  display: inline;
  z-index: 2;
  top:30%;
  left:50%;
  text-align: center; 
}

.newCardForm form{
  position: relative; 
  left: -50%;
}

.newCardForm .textInput{
  background:#fff;
}

.translationForm {
  position: absolute;
  display: inline;
  z-index: 1;
  top: 35%;
  left:50%;
  text-align: center; 
}

.translationForm form{
  position: relative; 
  left: -50%;
}

.textInput{
  background:rgb(252, 251, 245);
  border: 1px solid #ed2553;
  border-radius: 32px;
  padding:12px;
  margin:10px;
  font-family: raleway;
  font-size: 14px;
  font-weight: 500;
  color: grey;
  outline: none;
}

#showFormButton{
  position: absolute;
  top:80vh;
  left:65vw;
  z-index: 2;
  background: #ed2553;
  width: 42px;
  height: 42px;
  border: none;
  border-radius: 100%;
  cursor: pointer;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.12);
  outline: none;
}

#showFormButton:hover{
  background: lightcoral;
}

#hideFormButton{
  width: 42px;
  height: 42px;
  border-radius: 100%;
  background:none;
  border:none;
  cursor: pointer;
  outline: none;
}

#hideFormButton:hover{
  background: rgb(210, 232, 240);
}

#submitButton{
  position: relative;
  top:0.8vh;
  cursor: pointer;
  background:none;
  border:none;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto,
    segoe ui, arial, sans-serif;
  font-size: 32px;
  font-weight: 800;
  text-transform: uppercase;
  color:rgb(83, 83, 83);
  outline: none;
}

#submitButton:hover{
  color:rgb(54, 54, 54);
}

.buttonIcon{
  position: relative;
  top:2px;
}